#grp-filters .grp-autocomplete-wrapper-fk {
    display: block;
    width: 100%;
}

#grp-filters .grp-autocomplete-wrapper-m2m {
    width: 100%;
}

#grp-filters .grp-autocomplete-wrapper-fk .ui-autocomplete-input {
    padding-right: 25px;
}
#grp-filters .grp-autocomplete-wrapper-fk .ui-autocomplete-input::-webkit-input-placeholder,
#grp-filters .grp-autocomplete-wrapper-fk .ui-autocomplete-input:-ms-input-placeholder,
#grp-filters .grp-autocomplete-wrapper-fk .ui-autocomplete-input::-moz-placeholder {
    color: #000
}

#grp-filters .grp-autocomplete-wrapper-fk .grp-related-remove,
#grp-filters .grp-autocomplete-wrapper-m2m .grp-related-remove,
#grp-filters .datetime_filter_form .grp-related-remove {
    padding: 0;
    margin: 0 -24px 0 0;

    display: inline-block;
    position: absolute;
    right: 24px;
    top: 0;
    font-size: 0;
    line-height: 0;
    width: 23px;
    height: 23px;
    border: 1px solid #ccc;

    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#grp-filters .grp-autocomplete-wrapper-fk .grp-loader,
#grp-filters .grp-autocomplete-wrapper-m2m .grp-loader {
    right: 0;

    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#grp-filters .grp-autocomplete-wrapper-m2m .grp-loader {
    right: -1px;
}

.ui-menu li.ui-menu-item a.ui-state-focus {
    color: #fff;
    border: 1px solid #333;
    background: #444;
}


#grp-filters .grp-autocomplete-wrapper-m2m ul.grp-repr {
    padding: 2px 25px 2px 4px;
}
#grp-filters .grp-autocomplete-wrapper-m2m li.grp-repr > a {
    font-size: 12px;
    line-height:14px;
    padding: 0;
    margin: 0;
}
#grp-filters .grp-autocomplete-wrapper-m2m .ui-autocomplete-input {
    padding-left: 2px;
    height: 18px;
}
#grp-filters .grp-autocomplete-wrapper-m2m .ui-autocomplete-input::-webkit-input-placeholder,
#grp-filters .grp-autocomplete-wrapper-m2m .ui-autocomplete-input:-ms-input-placeholder,
#grp-filters .grp-autocomplete-wrapper-m2m .ui-autocomplete-input::-moz-placeholder {
    color: #000;
}
#grp-filters .grp-autocomplete-wrapper-m2m .grp-repr + .grp-search > input::-webkit-input-placeholder {
    color: transparent;
}

#grp-filters .datetime_filter_form .field {
    position: relative;
    float: left;
}

#grp-filters .datetime_filter_form input.datetime_filter {
    background: #FFF !important;
    border: 1px solid #CCC !important;
    width: 165px;
}
#grp-filters .datetime_filter_form input.datetime_filter:invalid + .grp-related-remove {
    display: none;
}
#grp-filters .filter_apply {
    float: right;
    padding: 3px 9px;
    height: 25px;
    margin: 0;
}


#grp-filters .search_filter_form input.search_filter {
    background: #FFF !important;
    border: 1px solid #CCC !important;
    width: 165px;
}